.mouseFollowerContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mouseFollower {
	height: 120px;
	aspect-ratio: 1 / 1;
	background: radial-gradient(var(--font-color), transparent);
	position: absolute;
	pointer-events: none;
	transform-origin: center;
	transition: transform .15s ease-out;
	margin-left: -60px;
	margin-top: -60px;
	opacity: 0;
}

.mouseFollower.visible {
	opacity: 1;
}

.trail-dot {
	transition: opacity .5s ease-out;
}