.aboutMe{
    width: 100%;
    display: flex;
    align-items: start;
    gap: 2rem;
    font-size: 14px;
}
.aboutMe article,
.aboutMe .eduItemsList{
    display: flex;
    flex-direction: column;
}
.aboutMe article:first-child{
    gap: .5rem;
    max-width: 18rem;
    position: relative;
}
.aboutMe article:last-child{
    position: relative;
}
.aboutMe article:last-child .eduItemsList{
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 3.5rem;
    padding-right: .5rem;
    padding: 3rem .5rem 1rem 0;
    gap: 1rem;
}
.sectionsSwitch{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    gap: .25rem;
    width: fit-content;
    padding: .25rem;
    border-radius: .5rem;
    border: 1px solid var(--main-color-soft);
    background: var(--bg-color);
    box-shadow: 0 0 .5rem var(--bg-color);
}
.sectionsSwitch h4{
    padding: 1px 6px;
    user-select: none;
    border-radius: .25rem;
    cursor: pointer;
}
.sectionsSwitch h4.current{
    background: var(--bg-color-tag);
}

.aboutMe p{
    text-indent: 20px;
    color: var(--icon-color);
}
.aboutMe .eduItem{
	position: relative;
    display: grid;
	grid-template-columns: 2.5rem calc(100% - 5rem) 1.5rem;
	column-gap: .5rem;
	grid-template-areas: 
	"img comp pdf"
	"img title pdf";
    background-color: var(--bg-color-tag);
	border-radius: .75rem;
	padding: .5rem;
}
.aboutMe .eduItem img{
    grid-area: img;
	width: 2.5rem;
	height: 2.5rem;
	user-select: none;
	transition: filter .2s;
}
.aboutMe .eduItem .comp{
    width: fit-content;
    grid-area: comp;
    color: var(--font-color-soft);
    font-size: 12px;
}
.aboutMe .eduItem .comp:hover{
    text-decoration: underline;
}
.aboutMe .eduItem .comp svg{
    font-size: 10px;
    margin-left: 4px;
}
.aboutMe .eduItem .title{
    grid-area: title;
}

.aboutMe .eduItem .upperTag{
    padding: 0 .5rem;
    position: absolute;
    right: -.5rem;
    top: 0;
    transform: translateY(-50%);
    border-radius: .25rem;
    background: var(--main-color-soft);
    color: var(--font-color-soft);
    transition: all .2s;
}
.aboutMe .eduItem:hover .upperTag{
    background: var(--main-color);
    color: var(--font-color);
}
.aboutMe .eduItem .openPdf{
    cursor: pointer;
    grid-area: pdf;
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--icon-color);
    transition: color .1s;
}
.aboutMe .eduItem:hover .openPdf{
    color: var(--font-color);
}
.aboutMe article:last-child::before,
.aboutMe article:last-child::after{
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5rem;
    content: "";
}
.aboutMe article:last-child::before{
    top: 0;
    background: linear-gradient(var(--bg-color), transparent);
}
.aboutMe article:last-child::after{
    bottom: 0;
    background: linear-gradient(transparent, var(--bg-color));
}

@media (max-width: 800px){
    .aboutMe{
        flex-direction: column;
        gap: 1rem;
    }
    .aboutMe article:first-child{
        max-width: unset;
    }
}