.accounts{
  width: 100%;
  display: flex;
  gap: .5rem;
}
.accounts a{
  width: 25%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  background: var(--bg-color-tag);
  border-radius: .5rem;
  transition: box-shadow .2s;
  cursor: pointer;
}
.accounts a:hover{
  box-shadow: var(--box-shadow-tag-hover);
}
.accounts a svg{
  width: 1.375rem;
  height: 1.375rem;
  color: var(--icon-color);
}