.mainScroll{
	position: relative;
	z-index: 4;
	width: 100%;
	height: 100%;
}
.customScroll{
	overflow-y: scroll;
	scrollbar-gutter: auto;
}
.customScroll::-webkit-scrollbar{
	background: transparent;
	width: 8px;
}
.customScroll::-webkit-scrollbar-thumb{
	border: 1px solid transparent;
	border-width: 1.5rem 1px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(var(--font-color-soft), var(--font-color-soft)),
		linear-gradient(90deg, transparent, transparent);
}
.customScroll::-webkit-scrollbar-thumb:hover{
	background-image: linear-gradient(var(--font-color), var(--font-color)),
		linear-gradient(90deg, transparent, transparent);
}

header{
	width: 100%;
	height: 50%;
	display: flex;
	align-items: end;
	justify-content: center;
	position: relative;
	user-select: none;
	padding: 0 1rem 2rem 1rem;
}
header .heading{
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--bg-color-tag);
	backdrop-filter: blur(1px);
	border-radius: .75rem;
	padding: .75rem;
	gap: .5rem;
}
header .heading h1{
	font-size: 48px;
	text-align: center;
	line-height: 1;
}
header .heading .extras{
	color: var(--bg-color-soft);
	font-weight: 700;
	font-size: 20px;
	display: flex;
	gap: 2rem;
	transition: color .2s;
}
.mainScroll:hover header .heading .extras{
	color: var(--main-color);
}
@keyframes gradient {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}
nav{
	z-index: 9;
	width: 16.5rem;
	height: 2.5rem;
	display: flex;
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: .75rem;
	border: 1px solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(var(--bg-color-tag), var(--bg-color-tag)),
		linear-gradient(90deg, var(--main-color-medium) 0%, var(--main-color));
	overflow: hidden;
}
nav button{
	width: 5.5rem;
	height: 100%;
	color: var(--font-color);
	background: transparent;
	cursor: pointer;
	transition: background .1s;
}
nav button:hover{
	background: var(--bg-color-tag-light);
}

section.mainContent{
	z-index: 4;
	padding: 1rem 2rem;
	background: linear-gradient(180deg, transparent 10%, var(--bg-color) 25%, var(--bg-color) 80%, transparent);
}
section.mainContent h3{
	width: fit-content;
	position: relative;
	margin-bottom: 1rem;
	padding-top: 1.5rem;
}
section.mainContent h3::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: -2rem;
	width: calc(100% + 2.5rem);
	height: 1px;
	background: linear-gradient(90deg, var(--main-color-soft), var(--main-color));
}
section.mainContent button.expand{
	width: 200px;
	text-align: center;
	margin: 1.5rem 0 0 calc(50% - 100px);
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--bg-color-tag);
    transition: box-shadow .3s;
}
section.mainContent button.expand:hover{
	box-shadow: var(--box-shadow-tag-hover);
}

.react-activity-calendar{
	padding: 1rem 0;
}

@media (max-width: 500px){
	nav{
		position: fixed;
		top: .5rem;
		right: .5rem;
		border-color: var(--main-color);
	}
	header{
		padding: 2rem .5rem .5rem .5rem;
	}
	header .heading h1{
		font-size: 40px;
	}
	header::after{
		width: calc(100% - 4rem);
	}
	.mainScroll::-webkit-scrollbar{
		width: 0;
	}
}