.body{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--bg);
	color: var(--font-color);
}
.portfolio{
	width: 100%;
	max-width: 1180px;
	height: 100%;
	display: flex;
	padding: 2rem;
	gap: 2rem;
}
aside, 
main{
	border: 2px solid transparent;
	border-radius: 1.5rem;
	background-origin: border-box;
	background-clip: content-box, border-box;
	overflow-y: scroll;
}
aside::-webkit-scrollbar{
	width: 0;
}

/* LEFT------------------------------------------------------------------------ */
aside{
	width: 14.75rem;
	height: fit-content;
	max-height: calc(100vh - 4rem);
	align-self: center;
	background-image: linear-gradient(var(--bg-color), var(--bg-color)),
		linear-gradient(90deg, var(--main-color), var(--main-color-soft));
}
aside .asideContent{
	padding: 1.75rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
.avatar{
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 1rem;
	position: relative;
	overflow: hidden;
}
.avatar img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.avatar img.active{
	animation: entryMovement .4s ease-in-out;
}
.avatar img:not(.active){
	right: 100%;
	animation: exitMovement .4s ease-in-out;
}
@keyframes entryMovement {
	0% {
		left: 100%;
	}
	100% {
		left: 0%;
	}
}
@keyframes exitMovement {
	0% {
		right: 0%;
	}
	100% {
		right: 100%;
	}
}

.infoTags{
	display: flex;
	flex-direction: column;
	gap: .5rem;
}
aside h2,
aside h5,
aside .spkLangTag{
	display: flex;
	justify-content: center;
}
aside h5,
aside .spkLangTag{
	font-weight: 400;
	align-items: center;
	color: var(--font-color-soft);
	background-color: var(--bg-color-tag);
	border-radius: .5rem;
	padding: .25rem .375rem;
}
aside .spkLangs{
	width: 100%;
	display: flex;
	gap: .5rem;
}
aside .spkLangs .spkLangTag{
	width: 50%;
	font-size: 13px;
	display: flex;
	gap: .375rem;
}
aside .spkLangs .spkLangTag:first-child{
	justify-content: end;
}
aside .spkLangs .spkLangTag:last-child{
	justify-content: start;
}
aside .spkLangs .spkLangTag img{
	height: 1rem;
	aspect-ratio: 1 / 1;
}

/* RIGHT----------------------------------------------------------------------- */
main{
	width: calc(100% - 16.75rem);
	height: calc(100vh - 4rem);
	background-image: linear-gradient(var(--bg-color), var(--bg-color)),
		linear-gradient(90deg, var(--main-color-soft) 60%, var(--main-color));
	scrollbar-gutter: auto;
}
main::-webkit-scrollbar{
	background: transparent;
	width: 8px;
}
main::-webkit-scrollbar-thumb{
	border: 1px solid transparent;
	border-width: 1.5rem 1px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(var(--font-color-soft), var(--font-color-soft)),
		linear-gradient(90deg, transparent, transparent);
}
main::-webkit-scrollbar-thumb:hover{
	background-image: linear-gradient(var(--font-color), var(--font-color)),
		linear-gradient(90deg, transparent, transparent);
}

header{
	width: 100%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	user-select: none;
}
header .heading{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header .heading h1{
	font-size: 48px;
	text-align: center;
}
header .heading .extras{
	color: var(--bg-color-soft);
	font-weight: 700;
	font-size: 20px;
	display: flex;
	gap: 2rem;
}
header nav{
	z-index: 2;
	width: 16.5rem;
	height: 2.5rem;
	display: flex;
	position: absolute;
	bottom: calc(-1.25rem - 1px);
	right: 2rem;
	border-radius: .75rem;
	border: 2px solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-image: linear-gradient(var(--bg-color-tag), var(--bg-color-tag)),
		linear-gradient(90deg, var(--main-color-medium) 0%, var(--main-color));
	overflow: hidden;
}
header::after{
	z-index: 1;
	content: "";
	position: absolute;
	left: 2rem;
	bottom: 0;
	height: 2px;
	width: calc(100% - 2rem);
	background: linear-gradient(90deg, var(--bg-color) 0%, var(--main-color-soft) 1%, var(--main-color-soft) 55%, var(--main-color));
}
header nav button{
	width: 5.5rem;
	height: 100%;
	color: var(--font-color);
	background: transparent;
	cursor: pointer;
	transition: all .1s;
}
header nav button:hover{
	padding: .5rem;
	background: var(--bg-color-tag-light);
}

.gradient {
	background: linear-gradient(323deg, var(--font-color) 25%, var(--main-color) 50%, var(--font-color) 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
header .heading .extras{
	background: linear-gradient(323deg, var(--bg-color-soft) 25%, var(--main-color) 50%, var(--bg-color-soft) 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
section.mainContent{
	padding: 1rem 2rem;
}
section.mainContent h3{
	width: fit-content;
	position: relative;
	margin-bottom: 1rem;
	padding-top: 1.5rem;
}
section.mainContent h3::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: -2rem;
	width: calc(100% + 2.5rem);
	height: 2px;
	background: linear-gradient(90deg, var(--main-color-soft), var(--main-color));
}

@media (max-width: 750px){
	.portfolio{
		height: fit-content;
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
	}
	main,
	aside{
		width: 100%;
	}
	aside .asideContent{
		flex-direction: row;
		flex-wrap: wrap;
	}
	aside h2{
		height: fit-content;
	}
	.avatar,
	.infoTags{
		width: calc(50% - .25rem);
	}
	main{
		height: fit-content;
	}
	main::-webkit-scrollbar{
		width: 0;
	}
	header{
		max-height: 15rem;
	}
}
@media (max-width: 500px){
	header .heading h1{
		font-size: 40px;
	}
	header nav{
		right: unset;
	}
	header::after{
		width: calc(100% - 4rem);
	}
}