.portfolio{
  width: 100%;
  max-width: 1080px;
  height: 100%;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
section{
  height: calc(100vh - 4rem);
  padding: 0;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow-y: scroll;
}
section::-webkit-scrollbar{
  width: 0;
}

/* LEFT------------------------------------------------------------------------ */
section.left{
  max-width: 400px;
  width: 25%;
  background-image: linear-gradient(#161618, #161618),
    linear-gradient(90deg, #6F2CE3, #2F145E);
}
section .leftContent{
  padding: 2rem;
}
.avatar{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  background-color: #26252E;
}
.accounts{
  width: 100%;
  display: flex;
  padding: .5rem 0;
  gap: .5rem;
}
.accounts a,
.contactItem span{
  width: 25%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  background-color: #26252E;
  border-radius: 10px;
  cursor: pointer;
}
.accounts a svg,
.contactItem span svg{
  width: 1.375rem;
  height: 1.375rem;
}
.contacts{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.contactItem{
  display: flex;
  align-items: center;
  gap: .5rem;
}
.contactItem span{
  width: 2.25rem;
}
.contactItem .content{
  width: calc(100% - 2.75rem);
  font-size: 10px;
}
.contactItem .content :first-child{
  color: #777;
}
.contactItem .text{
  width: 100%;
  font-size: 14px;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
section.left h2{
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding: .25rem 0;
}
section.left h5{
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-color: #26252e;
  border-radius: .25rem;
  padding: .125rem;
}
section.left h3{
  margin: .75rem 0 .25rem 0;
}
section.left h3,
main h3{
  width: fit-content;
  position: relative;
}
section.left h3::after,
main h3::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: calc(100% + 2.5rem);
  height: 2px;
}
section.left h3::after{
  background: linear-gradient(90deg, #6528ce, #2F145E);
}
main h3::after{
  background: linear-gradient(90deg, #2F145E, #6528ce);
}
section.left .aboutMe{
  font-size: 14px;
  text-indent: 20px;
  text-align: justify;
  color: #bbb;
}

/* RIGHT----------------------------------------------------------------------- */
section.right{
  width: 75%;
  background-image: linear-gradient(#161618, #161618),
    linear-gradient(90deg, #2F145E 60%, #6F2CE3);
}
header{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
header .heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .heading h1{
  font-size: 48px;
}
header .heading .extras{
  color: #2D2B37;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  gap: 2rem;
}
header nav{
  z-index: 2;
  width: 15rem;
  height: 2.5rem;
  display: flex;
  position: absolute;
  bottom: calc(-1.25rem - 1px);
  right: 2rem;
  border-radius: .75rem;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#26252e, #26252e),
    linear-gradient(90deg, #341668 0%, #6F2CE3);
  overflow: hidden;
}
header::after{
  z-index: 1;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: calc(100% - 2rem);
  background: linear-gradient(90deg, #161618 0%, #2F145E 1%, #2F145E 55%, #6F2CE3);
}
header nav button{
  width: 5rem;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
header nav button:hover{
  padding: .5rem;
  background: #363441;
}

.gradient {
	background: linear-gradient(323deg, #fff 25%, #6F2CE3 50%, #fff 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
header .heading .extras{
	background: linear-gradient(323deg, #2D2B37 25%, #6F2CE3 50%, #2D2B37 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
main{
  padding: 2rem 2rem 1rem 2rem;
}