.portfolio{
  width: 100%;
  max-width: 1080px;
  height: 100%;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}
section{
  padding: 0;
  border: 2px solid transparent;
  border-radius: 1.5rem;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow-y: scroll;
}
section::-webkit-scrollbar{
  width: 0;
}

/* LEFT------------------------------------------------------------------------ */
section.left{
  width: 14.75rem;
  height: fit-content;
  max-height: calc(100vh - 4rem);
  align-self: center;
  background-image: linear-gradient(#161618, #161618),
    linear-gradient(90deg, #6F2CE3, #2F145E);
}
section .leftContent{
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.avatar{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}
.infoTags{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
section.left h2{
  display: flex;
  justify-content: center;
}
section.left h5,
section.left .spkLangTag{
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-color: #26252e;
  border-radius: .25rem;
  padding: .125rem;
}
section.left .spkLangs{
  width: 100%;
  display: flex;
  gap: .5rem;
}
section.left .spkLangs .spkLangTag{
  width: 50%;
  display: flex;
  gap: .25rem;
}
section.left .spkLangs .spkLangTag img{
  height: 1rem;
  aspect-ratio: 1 / 1;
}
section.left h3{
  margin-top: .5rem;
}
section.left h3,
main h3{
  width: fit-content;
  position: relative;
}
section.left h3{
  margin: .5rem 0;
}
main h3{
  margin-bottom: 1rem;
  padding-top: 1.5rem;
}
section.left h3::after,
main h3::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: -2rem;
  width: calc(100% + 2.5rem);
  height: 2px;
}
section.left h3::after{
  background: linear-gradient(90deg, #6528ce, #2F145E);
}
main h3::after{
  background: linear-gradient(90deg, #2F145E, #6528ce);
}

/* RIGHT----------------------------------------------------------------------- */
section.right{
  width: calc(100% - 16.75rem);
  height: calc(100vh - 4rem);
  background-image: linear-gradient(#161618, #161618),
    linear-gradient(90deg, #2F145E 60%, #6F2CE3);
}
header{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
header .heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .heading h1{
  font-size: 48px;
}
header .heading .extras{
  color: #2D2B37;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  gap: 2rem;
}
header nav{
  z-index: 2;
  width: 15rem;
  height: 2.5rem;
  display: flex;
  position: absolute;
  bottom: calc(-1.25rem - 1px);
  right: 2rem;
  border-radius: .75rem;
  border: 2px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(#26252e, #26252e),
    linear-gradient(90deg, #341668 0%, #6F2CE3);
  overflow: hidden;
}
header::after{
  z-index: 1;
  content: "";
  position: absolute;
  left: 2rem;
  bottom: 0;
  height: 2px;
  width: calc(100% - 2rem);
  background: linear-gradient(90deg, #161618 0%, #2F145E 1%, #2F145E 55%, #6F2CE3);
}
header nav button{
  width: 5rem;
  height: 100%;
  background: transparent;
  cursor: pointer;
}
header nav button:hover{
  padding: .5rem;
  background: #32303d;
}

.gradient {
	background: linear-gradient(323deg, #fff 25%, #6F2CE3 50%, #fff 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
header .heading .extras{
	background: linear-gradient(323deg, #2D2B37 25%, #6F2CE3 50%, #2D2B37 75%);
	background-size: 400% 400%;
	animation: gradient 4s linear infinite;

	background-clip: text;
	color: transparent;
	box-shadow: none;
}
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 100% 100%;
	}
}
main{
  padding: 1rem 2rem 2rem 2rem;
}

@media (max-width: 750px){
  .portfolio{
    height: fit-content;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  section.right,
  section.left{
    width: 100%;
  }
  section .leftContent{
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.left h2{
    height: fit-content;
  }
  .avatar,
  .infoTags{
    width: calc(50% - .25rem);
  }
  section.right{
    height: fit-content;
  }
  header{
    max-height: 15rem;
  }
}
@media (max-width: 500px){
  header .heading h1{
    font-size: 40px;
  }
  header nav{
    right: unset;
  }
  header::after{
    width: calc(100% - 4rem);
  }
}