.bgDotsContainer{
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: radial-gradient(var(--bg-color-soft) 50%, var(--bg-color));
}
.bgDots{
	z-index: 3;
	position: relative;
	width: 105%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 20px);
}
.bgDots div{
	aspect-ratio: 1 / 1;
	border-radius: 2px;
	background: var(--bg-color);
}