.projects{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(12rem, 1fr));
    gap: .5rem;
}
.projects article{
    border-radius: .75rem;
    background-color: var(--bg-color-tag);
    padding: .5rem;
    transition: all .3s;
}
.projects article:hover{
    box-shadow: var(--box-shadow-tag-hover);
}
.projects article .imgContainer{
    width: 100%;
    min-height: 7rem;
    aspect-ratio: 5 / 3;
    border-radius: .5rem .5rem 0 0;
    background: var(--bg-color);
    position: relative;
    user-select: none;
    overflow: hidden;
}
.projects article .imgContainer .colaboratorsCount{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .25rem .5rem;
    position: absolute;
    left: .25rem;
    top: .25rem;
    background: var(--bg-color-tag);
    border-radius: .5rem;
    transition: all .3s;
    opacity: 0;
}
.projects article:hover .imgContainer .colaboratorsCount{
    opacity: 1;
}
.projects article .imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.projects article .imgContainer img.noImg{
    width: 50%;
    height: 50%;
    object-fit: unset;
    object-position: unset;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: var(--font-color-soft);
}
.projects article .imgContainer .links{
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0 .5rem 2px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: .5rem;
}
.projects article .imgContainer .links::after{
    z-index: 1;
    content: "";
    width: calc(100% + 1rem);
    height: 3rem;
    background: var(--bg-color-tag);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);;
    position: absolute;
    bottom: -3rem;
    right: -.5rem;
    transition: all .3s ease-in-out;
}
.projects article .imgContainer .links a{
    z-index: 3;
    line-height: 1;
    color: var(--font-color);
    background: var(--bg-color-tag);
    border-radius: 50%;
    padding: .5rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.projects article .imgContainer .links a:hover{
    box-shadow: var(--box-shadow-tag-hover);
}
.projects article .imgContainer .links svg{
    width: 1.5rem;
    height: 1.5rem;
}
.projects article .techs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    color: var(--font-color-soft);
    padding-top: .25rem;
    user-select: none;
}
.projects article .desc{
    font-size: 14px;
    color: var(--font-color-soft);
}
@supports (text-wrap: pretty) and (hyphenate-limit-chars: 7){
    .projects article .desc{
        text-align: justify;
        hyphens: auto;
        hyphenate-limit-chars: 7;
        -ms-hyphenate-limit-chars: 7;
    }
}

.projects article:hover .imgContainer .links a{
    opacity: 1;
}
.projects article:hover .imgContainer .links::after{
    bottom: -1.5rem;
}