.skillTagMore{
    z-index: 2;
    position: absolute;
    top: 100%;
    width: 100%;
    height: fit-content;
    background: var(--bg-color-tag);
    padding: .5rem;
    border-radius: 0 0 .75rem .75rem;
    box-shadow: var(--box-shadow-tag-hover);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    animation: opening .2s;
}
@keyframes opening {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.skillTagMore h5{
    color: var(--font-color-soft);
    line-height: 1;
}
.skillTag{
    display: grid;
    grid-template-columns: 2.375rem calc(100% - 2.875rem);
    column-gap: .5rem;
    grid-template-areas: 
    "img name"
    "img desc";
    align-items: center;
}
.skillTag img{
    grid-area: img;
    width: 2.375rem;
    height: 2.375rem;
    user-select: none;
}
.skillTag .name{
    grid-area: name;
    font-size: 14px;
    color: var(--font-color);
}
.skillTag .desc{
    grid-area: desc;
    font-size: 12px;
    color: var(--font-color-soft);
}
.skillTag .name,
.skillTag .desc{
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}