:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* static in both themes */
    --bg-color-footer: #242424;
    --font-color-footer: rgb(198, 203, 215);
    --font-color-soft-footer: rgba(198, 203, 215, 0.5);
    
    /* general colors */
    --font-color: rgba(255, 255, 255, 0.87);
    --font-color-soft: #888;
    --bg-color: #161618;
    --bg-color-tag: #26252E;
    --bg-color-tag-dark: #26252e79;
    --bg-color-tag-light: #34333f;
    --box-shadow-tag-hover: 0 0 1px 1px #383844;

    /* main colors */
    --main-color: #6F2CE3;
    --main-color-soft: #2F145E;
}

/* light theme active */
@media (prefers-color-scheme: light) {
    :root {
        /* general colors */
        --font-color: rgba(0, 0, 0, 0.87);
        --font-color-soft: rgba(0, 0, 0, 0.6);
        --bg-color: #d8dbdd;
        --bg-color-tag: rgba(100, 108, 255, 0.15);
        --bg-color-tag-hover: rgba(102, 110, 255, 0.25);
        --bg-color-tag-shadow: rgba(0, 0, 0, 0.2);

        /* main colors */
    }
}

/* if a user's device settings are set to reduced motion */
@media (prefers-reduced-motion) {
    * {
        animation: none;
    }
}