:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* general colors */
    --font-color: #ffffffde;
    --font-color-soft: #888;
    --icon-color: #bbb;

    --bg: #02000b;
    --bg-color: #13131a;
    --bg-color-soft: #2D2B37;

    --bg-color-tag: #1e1d28;
    --bg-color-tag-dark: #26252e79;
    --bg-color-tag-light: #32303d;
    --box-shadow-tag-hover: 0 0 1px 1px #383844;

    --bg-color-button-red: #ff4141;
    --footer-borders: #b4b4c880;

    --bg-color-warm: #161618;
    --bg-color-tag-warm: #26252E;

    /* main colors */
    --main-color: #6F2CE3;
    --main-color-soft: #2F145E;
    --main-color-medium: #341668;
}

[data-theme='light']{
    --font-color: #222;
    --font-color-soft: #444;
    --icon-color: #666;

    --bg: #d3cde7;
    --bg-color: #dadaf8;
    --bg-color-soft: #aca6cc;

    --bg-color-tag: #c3bfff;
    --bg-color-tag-dark: #a2a1b4;
    --bg-color-tag-light: #adaad3;
    --box-shadow-tag-hover: 0 0 1px 1px #adadc2;

    --bg-color-button-red: #ff4141;
    --footer-borders: #3e3e4680;

    --bg-color-warm: #161618;
    --bg-color-tag-warm: #26252E;

    /* main colors */
    --main-color: #6F2CE3;
    --main-color-soft: #ae8ded;
    --main-color-medium: #ae8ded;
}