.skillSet h4{
	font-weight: 400;
	padding: .5rem 0 .125rem 0;
	color: var(--font-color-soft);
}
.tagSlider{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(3.375rem, 1fr));
	justify-content: center;
	gap: .5rem;
}
.skillTag{
	display: grid;
	grid-template-columns: 2.375rem calc(100% - 2.875rem);
	column-gap: .5rem;
	grid-template-areas: 
	"img name"
	"img desc";
	align-items: center;
	border-radius: .75rem;
	background: var(--bg-color-tag);
	padding: .5rem;
	transition: all .3s;
	position: relative;
}
.skillTag:hover{
	box-shadow: var(--box-shadow-tag-hover);
}
.skillTagMore{
	background: linear-gradient(90deg, var(--bg-color-tag) 47%, var(--bg-color-tag-light) 50%, var(--bg-color-tag) 60%);
	background-size: 300% 100%;
	animation: gradientBack 3s linear infinite;
}
.skillTagMore:hover{
	border-radius: .75rem .75rem 0 0;
}
@keyframes gradientBack {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 100%;
	}
}
.skillTag img{
	grid-area: img;
	width: 2.375rem;
	height: 2.375rem;
	user-select: none;
	transition: all .3s;
}
.skillTag .name{
	grid-area: name;
	font-size: 14px;
	color: #DDD;
}
.skillTag .desc{
	grid-area: desc;
	font-size: 12px;
	color: var(--font-color-soft);
}
.skillTag .name,
.skillTag .desc{
	overflow: hidden;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

@media (max-width: 390px){
	.tagSlider{
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}
}